<div class="container listen">
    <div class="row card-group">
        {{#each pokeData}}
        <div class="col col-md-3" style="max-width:18rem">
            <div class="card">
                <img id="poke-img" class="card-img-top" src="{{imageSrc}}" alt="pokemon image">
                <div class="card-body">
                    <h5 id="poke-name" class="card-title">{{name}}</h5>
                    <div class="progress">
                        <div id="hp" class="progress-bar progress-bar-striped" role="progressbar" style="width: {{hp}}%"
                            aria-valuenow="{{hp}}" aria-valuemin="0" aria-valuemax="100">HP</div>
                    </div>
                    <div class="progress">
                        <div id="attack" class="progress-bar progress-bar-striped bg-danger" role="progressbar"
                            style="width: {{attack}}%" aria-valuenow="{{attack}}" aria-valuemin="0" aria-valuemax="100">
                            Attack</div>
                    </div>
                    <div class="progress">
                        <div id="defense" class="progress-bar progress-bar-striped bg-info" role="progressbar"
                            style="width: {{defense}}%" aria-valuenow="{{defense}}" aria-valuemin="0"
                            aria-valuemax="100">Defense</div>
                    </div>
                    <div class="progress">
                        <div id="speed" class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                            style="width: {{speed}}%" aria-valuenow="{{speed}}" aria-valuemin="0" aria-valuemax="100">
                            Speed</div>
                    </div>
                    <div class="card-footer">

                        <button id="draft-me-btn" type="submit" class="btn btn-dark" name="{{id}}">DRAFT ME</button>

                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>