<!--GAME SECTION-->

<div class="container-fluid mt-10 d-line">
	<h3 class="text-center">Pokemon Draft Battles</h3>
</div>


{{!-- option to pick a user to challenge --}}
<div class="container-fluid col-10">
	<form action="chat.html">
		<div class="form-group">
			<h4 id="username" aria-valuenow="{{userTeam.team_name}}">Team Name: {{userTeam.team_name}}</h4>
		</div>
		<div class="form-group">
			<label for="room">Room</label>
			<select name="room" id="room">
				<option value="challenge-team">Challenge Team</option>
				<option value="challenge-pokemon">Challenge Pokemon</option>
			</select>
		</div>
		<button id="join-room" type="button" class="btn btn-dark">Join Room</button>
	</form>
</div>

<div class="container-fluid mt-10">
	<!--User side Pokemon information-->
	<h5 class="d-flex justify-content-center" id="userHeader">{{userTeam.team_name}}</h5>
	<h1 class="d-flex justify-content-center"><img id="heroHeadline2" src="{{userTeam.team_logo}}"></h1>


	<div class="container-fluid">
		{{!--Each Pokemon info --}}
		<div class="row card-group">
			{{#each userTeam.pokemons as |pokemon|}}
			<div class="col col-md-3" style="max-width:18rem">
				<div class="card">
					<!-- Pokemon Sprite-->
					<img id="poke-img" class="card-img-top" src="{{pokemon_pic}}" alt="pokemon image">
					<div class="card-body">
						<!-- Pokemon Name-->
						<h5 id="poke-name" class="card-title">{{pokemon_name}}</h5>

						<div class="card-footer p-2 m-2">
							<!-- Action to Pick pokemon-->
							<button id="pick-pokemon" name="{{pokedex}}" type="button" class="btn btn-dark">Pick
								Me</button>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>



{{!-- to Do - Connect to the socket and challenge another user to see who has the best team --}}
{{#if opponentTeam}}

<div class="container-fluid mt-10">
	<!--Opponent side Pokemon information-->
	<h5 class="d-flex justify-content-center" id="userHeader">{{opponentTeam.team_name}}</h5>
	<h1 class="d-flex justify-content-center"><img id="heroHeadline2" src="{{opponentTeam.team_logo}}"></h1>


	<div class="container-fluid">
		{{!--Each Pokemon info --}}
		<div class="row card-group">
			{{#each opponentTeam.pokemons as |pokemon|}}
			<div class="col col-md-3" style="max-width:18rem">
				<div class="card">
					<!-- Pokemon Sprite-->
					<img id="poke-img" class="card-img-top" src="{{pokemon_pic}}" alt="pokemon image">
					<div class="card-body">
						<!-- Pokemon Name-->
						<h5 id="poke-name" class="card-title">{{pokemon_name}}</h5>

						<div class="card-footer p-2 m-2">
							<!-- Action to Pick pokemon-->
							<button id="pick-pokemon" name="{{pokedex}}" type="button" class="btn btn-dark">Pick
								Me</button>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/battle.js"></script>