{{> header}}
<!--Battle-Page Section-->

<div class="container-fluid mt-5 mb-5 text-center">
	<h3>Pokemon Draft Battles</h3>
	{{#unless opponentTeam}}
	<button id="joinbtn" type="button" class="col-5 col-lg-1 btn btn-dark m-5">Join Battle</button>
	{{/unless}}
	{{#if opponentTeam}}
	<button id="startbtn" type="button" class="col-5 col-lg-1 btn btn-dark m-5">Start Battle</button>
	<button id="quitbtn" type="button" class="col-5 col-lg-1 btn btn-dark m-5">Quit</button>
	{{/if}}

</div>

<div class="container-fluid card col-12 col-lg-9 mt-5 mb-5 d-flex flex-column p-3">
	<!--User side Pokemon information-->
	<h5 class="d-flex justify-content-center" id="userHeader">Your Team: {{userTeam.team_name}}</h5>
	<h1 class="d-flex justify-content-center"><img id="heroHeadline2" src="{{userTeam.team_logo}}"></h1>
	
	<div class="container-fluid">
		{{!--Each Pokemon info --}}
		<div id="pick-pokemon" class="row card-group d-flex justify-content-between">
			{{#each userTeam.pokemons as |pokemon|}}
			<div class="col col-md-3" style="max-width:18rem">
				<div class="card">
					<!-- Pokemon Sprite-->
					<img id="poke-img" class="card-img-top" src="{{pokemon_pic}}" alt="pokemon image">
					<div class="card-body">
						<!-- Pokemon Name-->
						<h5 id="pokemon" class="card-title">{{pokemon_name}}</h5>

						<div class="card-footer p-2 m-2">
							<!-- Action to Pick pokemon-->
							<button id="{{pokedex}}" name="{{hp}}-{{defense}}-{{attack}}-{{speed}}" type="button" class="btn btn-dark pickme">Pick
								Me</button>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>



{{!-- to Do - Connect to the socket and challenge another user to see who has the best team --}}
{{#if opponentTeam}}

<div class="container-fluid card col-12 col-lg-9 mt-5 mb-5 d-flex flex-column p-5">
	<!--Opponent side Pokemon information-->
	<h5 class="d-flex justify-content-center" id="userHeader">opponent Team: {{opponentTeam.team_name}}</h5>
	<h1 class="d-flex justify-content-center"><img id="heroHeadline2" src="{{opponentTeam.team_logo}}"></h1>

	<div class="container-fluid">
		{{!--Each Pokemon info --}}
		<div class="row card-group justify-content-between">
			{{#each opponentTeam.pokemons as |pokemon|}}
			<div class="col col-md-3" style="max-width:18rem">
				<div class="card">
					<!-- Pokemon Sprite-->
					<img id="poke-img" class="card-img-top" src="{{pokemon_pic}}" alt="pokemon image">
					<div class="card-body">
						<!-- Pokemon Name-->
						<h5 id="poke-name" class="card-title">{{pokemon_name}}</h5>

					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/battle.js"></script>