<div class="container">
  <div class="row card-group">
    {{#each pokeData}}
    <div class="col col-md-3" style="max-width:18rem">
      <div class="card">
        <img class="card-img-top" src="{{imageSrc}}" alt="pokemon image">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{hp}}%"
              aria-valuenow="{{hp}}" aria-valuemin="0" aria-valuemax="100">HP</div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{attack}}%"
              aria-valuenow="{{attack}}" aria-valuemin="0" aria-valuemax="100">Attack</div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{defense}}%"
              aria-valuenow="{{defense}}" aria-valuemin="0" aria-valuemax="100">Defense</div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{speed}}%"
              aria-valuenow="{{speed}}" aria-valuemin="0" aria-valuemax="100">Speed</div>
          </div>
          <div class="card-footer">

            <button class="btn btn-dark" onclick=addMe({name: {{name}})>DRAFT ME</button>

          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

 <nav>
  <button id="logout" class="btn-no-style">logout</button>
</nav>

<script src="/javascript/logout.js"></script>
<script src="./javascript/draftpage.js""></script>