{{> header}}
{{#unless team}}
<!-- NEW USER-->
{{> newteam}}
{{/unless}}

{{#if team}}
<!-- RETURNING USER-->
<!-- banner section start -->
<div class="container-fluid me-4 p-4 d-flex justify-content-center">
    <div class="container">
        <div class="row d-flex flex-column align-items-center">
            <div class="col-10">
                <h1 class="banner_taital fs-2">Welcome back to Pokémon Draft {{team.team_name}}</h1>
                <img id="team-logo" class="card-img-top" src="{{team.team_logo}}" alt="team-logo">
                <p class="browse_text">You have {{team.pokemons.length}} Pokémon in your team. {{#if disable}} Your team
                    is full, If you wish to battle click on Go to Battle button.
                    If you wish to draft, please remove any pokemon of your choice.
                    {{else}} To draft more Pokémon please visit the draft-page. If you wish to battle click on Go to
                    Battle button.{{/if}}</p>
                <div class="col-10 d-flex justify-content-evenly">
                    {{#unless disable}}
                    <button class="btn btn-dark mb-4"><a class="style-none text-white fs-lg-4" href="/draftpage">Draft
                            Team</a></button> {{/unless}}
                    <button class="btn btn-dark mb-4"><a class="style-none text-white fs-lg-4" href="/battle">Go to
                            Battle</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner section end -->

<div class="container" id="listen">

    <!-- Pokemon Stat Cards -->
    <div class="row card-group">
        {{#each team.pokemons as |pokemon|}}
        <div class="col col-md-3" style="max-width:18rem">
            <div class="card">
                <!-- Pokemon Sprite-->
                <img id="poke-img" class="card-img-top" src="{{pokemon_pic}}" alt="pokemon image">
                <div class="card-body">
                    <!-- Pokemon Name-->
                    <h5 id="poke-name" class="card-title">{{pokemon_name}}</h5>
                    <div class="progress">
                        <!-- Pokemon HP-->
                        <div id="hp" class="progress-bar" role="progressbar" style="width: {{hp}}%"
                            aria-valuenow="{{hp}}" aria-valuemin="0" aria-valuemax="100">HP</div>
                    </div>
                    <div class="progress">
                        <!-- Pokemon Attack-->
                        <div id="attack" class="progress-bar  bg-danger" role="progressbar" style="width: {{attack}}%"
                            aria-valuenow="{{attack}}" aria-valuemin="0" aria-valuemax="100">
                            Attack</div>
                    </div>
                    <div class="progress">
                        <!-- Pokemon Defense-->
                        <div id="defense" class="progress-bar  bg-info" role="progressbar" style="width: {{defense}}%"
                            aria-valuenow="{{defense}}" aria-valuemin="0" aria-valuemax="100">Defense</div>
                    </div>
                    <div class="progress">

                        <!-- Pokemon Speed-->
                        <div id="speed" class="progress-bar bg-secondary" role="progressbar" style="width: {{speed}}%"
                            aria-valuenow="{{speed}}" aria-valuemin="0" aria-valuemax="100">
                            Speed</div>
                    </div>
                    <div class="card-footer">

                        <!-- Action to Remove-->
                        <button id="remove-pokemon" name="{{pokedex}}" type="button" class="btn btn-dark">REMOVE
                            ME</button>

                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}

<script src="/javascript/team-page.js"></script>