{{> header}}
{{#unless team}}
<!-- NEW USER-->
{{> newteam}}
{{/unless}}

{{#if team}}
<!-- RETURNING USER-->
<!-- banner section start -->

<div class="container d-flex  mt-2 m-2 justify-content-evenly" >

        <div class="row d-flex d-flex-column align-items-center">
         
                <h1 class="namesaved fs-2">{{team.team_name}}</h1>
                <img id="team-logo" class="card-img-top" src="{{team.team_logo}}" alt="team-logo">
                {{!-- <h4 class="banner_taital">Your secret key for drafting is {{team.id}}</h4> --}}
                <p class="browse_text">You have {{team.pokemons.length}} Pokémon in your team. {{#if disable}} Your team
                    is full,
                    If you wish to draft different Pokémon, please drop Pokémon from your Team.
                    {{else}} To draft more Pokémon please visit the draft-page. If you wish to battle click on Go to
                    Battle button.{{/if}}</p>
                <div class="col-10 d-flex justify-content-evenly">
                    {{#unless disable}}
                    <button class="btn btn-dark mb-4"><a class="style-none text-white fs-lg-4" href="/draftpage">Draft
                            Team</a></button> {{/unless}}
                    {{!-- <button class="btn btn-dark mb-4"><a class="style-none text-white fs-lg-4" href="/battle">Go
                            to Battle</a></button> --}}
                </div>
            </div>
        
     
</div>
<!-- banner section end -->

<div class="container d-flex  col-10 justify-content-evenly" id="listen">
  <div class="card-group">
    <!-- Pokemon Stat Cards -->
    {{#each team.pokemons as |pokemon|}}
  
        <div class="card m-2" style="width:18rem;">
            <!-- Pokemon Sprite-->
            <img id="poke-img" class="card-img-top" src="{{pokemon_pic}}" alt="pokemon image">
            <div class="card-body">
                <!-- Pokemon Name-->
                <h5 id="poke-name" class="card-title">{{pokemon_name}}</h5>
                <div class="progress">
                    <!-- Pokemon HP-->
                    <div id="hp" class="progress-bar" role="progressbar" style="width: {{hp}}%" aria-valuenow="{{hp}}"
                        aria-valuemin="0" aria-valuemax="100">HP</div>
                </div>
                <div class="progress">
                    <!-- Pokemon Attack-->
                    <div id="attack" class="progress-bar  bg-danger" role="progressbar" style="width: {{attack}}%"
                        aria-valuenow="{{attack}}" aria-valuemin="0" aria-valuemax="100">
                        Attack</div>
                </div>
                <div class="progress">
                    <!-- Pokemon Defense-->
                    <div id="defense" class="progress-bar  bg-info" role="progressbar" style="width: {{defense}}%"
                        aria-valuenow="{{defense}}" aria-valuemin="0" aria-valuemax="100">Defense</div>
                </div>
                <div class="progress">

                    <!-- Pokemon Speed-->
                    <div id="speed" class="progress-bar bg-secondary" role="progressbar" style="width: {{speed}}%"
                        aria-valuenow="{{speed}}" aria-valuemin="0" aria-valuemax="100">
                        Speed</div>
                </div>
                <div class="card-footer">

                    <!-- Action to Remove-->
                    <button id="remove-pokemon" name="{{pokedex}}" type="button" class="btn btn-dark">REMOVE
                        ME</button>

                </div>

            </div>
        </div>
        {{/each}}
    </div>
</div>

{{/if}}

<script src="/javascript/team-page.js"></script>